extends layout
block content
    .main-container
      .content-body
        .success-text About
      .step
        .step-icon
          img(src='img/lightbulbWhite.svg')
        .step-text A work in progress.
      