doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')  
  body
    #mytopnav.topnav
        a#home.navBarItem(href='/') Home
        a#services.navBarItem(href='services') Services
        a#contact.navBarItem(href='contact') Contact
        #dropdown.dropdown.navBarItem
            button.dropbtn
                | Dropdown 
                i.fa.fa-caret-down
            .dropdown-content
                a.navBarItem(href='#') Link 1
                a.navBarItem(href='#') Link 2
                a.navBarItem(href='#') Link 3
        a#about.navBarItem(href='about') About
        a#icon.navBarItem.icon(href='javascript:void(0);')
    script.
        var header = document.getElementById("mytopnav");
        var btns = header.getElementsByClassName("navBarItem");
        var url =  window.location.pathname.replace("/","");
        for (var i = 0; i < btns.length; i++) {
        if (url == "") {
        var homelink = document.getElementById("home");
        homelink.className += " active";
        }
        else {
        var link = document.getElementById(url);
        link.className += " active";
        }
        }

    block content