/* Coolors Exported Palette - coolors.co/464646-086375-00ced1-ededed-f9f9f9 */

/* HSL */
$color1: hsla(0%, 0%, 27%, 1);
$color2: hsla(190%, 87%, 25%, 1);
$color3: hsla(181%, 100%, 41%, 1);
$color4: hsla(0%, 0%, 93%, 1);
$color5: hsla(0%, 0%, 98%, 1);

/* RGB */
$color1: rgba(70, 70, 70, 1);
$color2: rgba(8, 99, 117, 1);
$color3: rgba(0, 206, 209, 1);
$color4: rgba(237, 237, 237, 1);
$color5: rgba(249, 249, 249, 1);